@media only screen and (min-width: 1000px) {
    .Jumbotron {
      width: 1000px;
    }
}


.Jumbotron {
    background-color: #6CADDC;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.displayBox {
  max-height: "200px";
  max-width: "200px";
  border: "5px solid";
}


